<% provide(:title, "Home") %>
<% if logged_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
    </aside>
      <div class="col-md-8">
       <h3>Article Feed</h3>
       <%= render 'shared/feed' %>
      </div>
  </div>
<% else %>
  <div id="contents">
  
  <!-- 領域全体 -->
    <section class="non-background-area grid-block">
    
          <!-- グリッド表示 -->
          <div class="container grid-container">

            <!-- 記事1 -->
            <div class="grid-content grid-block-1">
              <!-- イメージ -->
              <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
                <%= image_tag "japanese.png", alt: "Harry" %>
                <!-- テキスト -->
                <div class="grid-content-text">
                  <h3><%= "ハリー教授のちくっと講座".truncate(13) %></h3>
                  <p><span><%= "パワーポイントを使った１分ミニミニプログラミング動画".truncate(32) %></span></p>
                </div>
              </div>
            </div>

            <!-- 記事2 -->
            <div class="grid-content grid-block-2">
              <!-- イメージ -->
              <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
                <%= image_tag "japanese.png", alt: "Harry" %>
                <!-- テキスト -->
                <div class="grid-content-text">
                  <h3><%= "ハリー教授のちくっと講座".truncate(13) %></h3>
                  <p><span><%= "パワーポイントを使った１分ミニミニプログラミング動画".truncate(32) %></span></p>
                </div>
              </div>
            </div>

            <!-- 記事3 -->
            <div class="grid-content grid-block-3">
              <!-- イメージ -->
              <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
                <%= image_tag "japanese.png", alt: "Harry" %>
                <!-- テキスト -->
                <div class="grid-content-text">
                  <h3><%= "ハリー教授のちくっと講座".truncate(13) %></h3>
                  <p><span><%= "パワーポイントを使った１分ミニミニプログラミング動画".truncate(32) %></span></p>
                </div>
              </div>
            </div>

            <!-- 記事4 -->
            <div class="grid-content grid-block-4">
              <!-- イメージ -->
              <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
                <%= image_tag "japanese.png", alt: "Harry" %>
                <!-- テキスト -->
                <div class="grid-content-text">
                  <h3><%= "ハリー教授のちくっと講座".truncate(13) %></h3>
                  <p><span><%= "パワーポイントを使った１分ミニミニプログラミング動画".truncate(32) %></span></p>
                </div>
              </div>
            </div>

            <!-- 記事5 -->
            <div class="grid-content grid-block-5">
              <!-- イメージ -->
              <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
                <%= image_tag "japanese.png", alt: "Harry" %>
                <!-- テキスト -->
                <div class="grid-content-text">
                  <h3><%= "ハリー教授のちくっと講座".truncate(13) %></h3>
                  <p><span><%= "パワーポイントを使った１分ミニミニプログラミング動画".truncate(32) %></span></p>
                </div>
              </div>
            </div>

            <!-- 記事6 -->
            <div class="grid-content grid-block-6">
              <!-- イメージ -->
              <div class="grid-content-image hover:shadow-raised hover:translateY-2px transition">
                <%= image_tag "japanese.png", alt: "Harry" %>
                <!-- テキスト -->
                <div class="grid-content-text">
                  <h3><%= "ハリー教授のちくっと講座".truncate(13) %></h3>
                  <p><span><%= "パワーポイントを使った１分ミニミニプログラミング動画".truncate(32) %></span></p>
                </div>
              </div>
            </div>
          </div>  
    </section>
  </div>
 <% end %> 
