<li id="article-<%= article.id %>">
  <div class="col-md-2">
    <div class="article_subject"><%= article.subject %></div>
    <span class="user"><%= link_to article.user.name, article.user %></span>
  </div>

  <div class="col-md-8">
    <span class="article_title"><%= article.title %></span>
    <span class="article_body"><%= article.body %></span>
  </div>

  <div class="col-md-2">
     <!-- 詳細情報ボタン -->
    <div class="article_update">
      <%= link_to "詳細を見る", article %>
    </div>
  </div>
</li>